<header class='w-full h-24 bg-[#f7f6fd]'>
  <div class='container h-full mx-auto flex items-center justify-between'>
    <a href='/'>
      <h1 class='text-[#50b0ae] text-3xl font-bold'>Storyblok Astro</h1>
    </a>
    <nav>
      <ul class='flex space-x-8 text-lg font-bold'>
        <li>
          <a href='/blog' class='hover:text-[#50b0ae]'>Blog</a>
        </li>
        <li>
          <a href='/about' class='hover:text-[#50b0ae]'>About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
