---
import Header from '../components/Header.astro'
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <title>The Storyblok Astro Ultimate Tutorial: Part 2</title>
  </head>
  <body class='mx-auto'>
    <Header />
    <slot />
  </body>
</html>
