<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <title>The Storyblok Astro Ultimate Tutorial: Part 1</title>
  </head>
  <body class='container mx-auto'>
    <slot />
  </body>
</html>
